<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>BioTalk | UMC</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body class="background">

	<div class="text-center">
		<img src="../images/logo.png" class="rounded" ></img>
	</div>
	
	<div class="align container">
		<nav class="navbar bordasMenu fundoMenu">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					<li><a href="/"><font color="black">Home</font></a></li>
					<li><a href="/"><font color="black">Plantas Medicinais</font></a></li>
					<li><a href="/"><font color="black">Parques</font></a></li>
				</ul>
			</div>
		</nav>
	</div>
	
	
	<div class="container">
		<div class=" fundoTexto bordas">
			<div class="alignTexto">
				
				<h3 style="margin-top: 0.75%">Você não possui acesso a essa página</h3>
				
			</div>
		</div>
	</div>

</body>

</html>