<div class="align container" style="z-index: 1;">
	<nav class="navbar bordasMenu fundoMenu" style="z-index: 2;">
		<div class="container-fluid" style="z-index: 3;">
			<ul class="nav navbar-nav">
				<li><a href="/"><font color="black">Home</font></a></li>
				<li><a href="/"><font color="black">Plantas
							Medicinais</font></a></li>
				<li><a href="/"><font color="black">Parques</font></a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown" style="z-index: 4;"><a
					class="dropdown-toggle" data-toggle="dropdown" href="#"> <span
						class="txtReturn"> Administrador </span><i
						class="fa fa-caret-down"></i>
				</a>
					<ul class="dropdown-menu" role="menu">
						<li class="dropdown-submenu"><a tabindex="-1" href="#">Pendencias</a>
							<ul class="dropdown-menu">
								<li><a tabindex="-1" href="/pendingUsers">Usuários</a></li>
								<li><a tabindex="-1" href="/pendingPlants">Plantas
										Medicinais</a></li>
								<li><a tabindex="-1" href="/pendingParks">Parques</a></li>
							</ul></li>
						<li><a href="#">Meu perfil</a></li>
						<li><a href="#">Relatórios</a></li>
						<!-- 							<li class="divider"></li> -->
						<!-- 							<li><a href="#">Something else here</a></li> -->
					</ul></li>

				<li><a href="/">Sair</a></li>
			</ul>

		</div>
	</nav>
</div>