<div class="align container ">
	<nav class="navbar bordasMenu fundoMenu">
		<div class="container-fluid ">
			<ul class="nav navbar-nav">
				<li><a href="#"><font color="black">Home</font></a></li>
				<li><a href="/plantsHome"><font color="black">Plantas
							Medicinais</font></a></li>
				<li><a href="/parksHome"><font color="black">Parques</font></a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a href="/registerUser"><span
						class="glyphicon glyphicon-user"></span> Cadastre-se</a></li>
				<li><a href="/login"><span
						class="glyphicon glyphicon-log-in"></span> Login</a></li>
			</ul>
		</div>
	</nav>
</div>