<!doctype html>
<html>
<meta http-equiv="Content-Language" content="pt-br"></meta>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>

<head>
<title>BioTalk | UMC</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body class="background">

	<div class="text-center">
		<img src="../images/logo.png" class="rounded" alt="..."></img>
	</div>

	<div class="align container ">
		<nav class="navbar bordasMenu fundoMenu">
			<div class="container-fluid ">
				<ul class="nav navbar-nav">
					<li><a href="/homepage"><font color="black">Home</font></a></li>
					<li><a href="/plantsHome"><font color="black">Plantas
								Medicinais</font></a></li>
					<li><a href="#"><font color="black">Parques</font></a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="/registerUser"><span
							class="glyphicon glyphicon-user"></span> Cadastre-se</a></li>
					<li><a href="/login"><span
							class="glyphicon glyphicon-log-in"></span> Login</a></li>
				</ul>
			</div>
		</nav>
	</div>

	<div class="container">
		<div class="fundoTexto bordas">
			<div class="alignTexto">

				<div class="form-group col-md-8">
					<p style="font-size: 23px">Parques</p>
				</div>
				<form method="get" action="/search">
					<div class="col-lg-4">
						<div class="input-group">
							<input type="text" th:name="value" class="form-control"
								placeholder="Procurar por..." /> <span class="input-group-btn">
								<button class="btn btn-default" type="submit">Buscar</button>
							</span>
						</div>
					</div>
				</form>

				<hr style="width: 100%"></hr>

				<div class="form-group col-md-12">
					<h4>Parques</h4>
				</div>

				<div class="form-row" style="margin-top: 2%">
					<div class="form-group col-md-8">
						<p class="text-justify">O projeto BioTalk oferece uma área
							exclusiva com cadastros de parques disponíveis para pesquisa.</p>
						<p class="text-justify">A finalidade dessa base de parques é
							voltada para incentivar a troca de informações sobre exposições,
							eventos, viveiros e outras possibilidades que os parques possam
							oferecer que tenham relação às plantas como um todo.</p>
						</p>
						<p class="text-justify">Nos preocupamos em mostrar as
							possibilidades para encontrar determinadas plantas em
							determinadas regiões.</p>
					</div>
					<div class="form-group col-md-4">
						<img src="../images/parksHome.jpg" class="rounded float-right"
							alt="..." style="width: 100%; height: 100%" />
						<div class="card-body">
							<p class="card-text" style="font-size: 13px">Fitoterapia e o
								uso das plantas com propriedades medicinais</p>
						</div>
					</div>
				</div>

				<div class="form-group col-md-12">
					<h4>Sugestões</h4>
				</div>

				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="../images/parqueDoCarmo.jpg" alt="Card image cap">
					<div class="card-body">
						<p class="card-text">O bosque tem cerca de 6 mil árvores, entre cerejeiras e 
						eucaliptos, lagos naturais e diversas espécies de animais.</p>
					</div>
				</div>
			</div>
		</div>
		<br></br>
	</div>

	<div>
		<div class="container footer bordas">
			<div class="faleConosco col-sm-4">
				<strong>Fale conosco</strong> <br></br> <strong>Bio-Talk
					Project</strong><br></br> <strong>Telefone:</strong> (11) 94193-3411 <br></br>
				<strong>E-mail: biotalkproject@gmail.com</strong>
			</div>
			<div class="col-sm-4">
				<img src="../images/faep-logo.png" class="imagemSize"></img> <img
					src="../images/umc_logo.png" class="imagemSize"></img>
			</div>
			<div class="col-sm-4">
				<h4 class="redesSociais">
					<strong>Siga-nos</strong>
				</h4>
				<br></br> <a href="#" class="fa fa-facebook"></a> <a href="#"
					class="fa fa-twitter"></a>
			</div>
		</div>
	</div>
</body>
</html>